md-backdrop{
    position: fixed;
}


.md-datepicker-input-mask{
    overflow:hidden;
}

.strike {
    text-decoration: line-through;
    color: grey;
}

#taskMdList{
    padding-left: 10%;
    padding-right: 10%;
}
